<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Used Car Price Predictor</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <!-- <script src="../static/css/script.js"></script> -->
</head>

<body>
    <div class="container">
        <h1>Used Car Price Predictor</h1>
        <form method="post" id="carForm"  onsubmit="formHandler" >
            <div class="form-group" >

                <label for="company">Name Of Company:</label>
                <select id="brand" name="brand" required="1" onchange="load_car_models('brand', 'model')">
                    {% for brand in brands %}

                    <option value="{{brand}}">{{brand}}</option>
                    {% endfor %}
                </select>


            </div>
            <div class="form-group">


                <label for="model">Select Model:</label>
                <select id="model" name="model" required>



                </select>
            </div>
            <div class="form-group">
                <label for="location">Location:</label>
                <select id="location" name="location" required>
                    {% for loc in location %}

                    <option value="{{loc}}">{{loc}}</option>
                    {% endfor %}

                </select>
            </div>
            <div class="form-group">
                <label><b>Select Year of Purchase:</b> </label><br>
                <select class="selectpicker form-control" id="year" name="year" required="1">
                    {% for year in Year %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="kilometer">Kilometer Driven:</label>
                <input type="number" id="kilometer" name="kilometer" required>
            </div>
            <div class="form-group">
                <label for="fuel">Fuel Type:</label>
                <select id="fuel" name="fuel" required>
                    <option value="1">CNG</option>
                    <option value="3">Diesel</option>
                    <option value="2">Petrol</option>

                </select>
            </div>
            <div class="form-group">
                <label for="transmission">Transmission:</label>
                <select id="transmission" name="transmission" required>
                    <option value="1">Manual</option>
                    <option value="0">Automatic</option>

                </select>
            </div>
            <div class="form-group">
                <label for="owner">Owner Type:</label>
                <select id="owner" name="owner" required>
                    <option value="3">First</option>
                    <option value="2">Second</option>
                    <option value="1">Third</option>
                    <option value="0">Fourth & Above</option>


                </select>
            </div>
            <div class="form-group">
                <label for="mileage">Mileage:</label>
                <input type="number" id="mileage" step="0.01" name="mileage" required>
            </div>
            <div class="form-group">
                <label for="engine">Engine:</label>
                <input type="number" id="engine" name="engine" required>
            </div>
            <div class="form-group">
                <label for="power">Power:</label>
                <input type="number" step="0.01" id="power" name="power" required>
            </div>

            <div class="form-group">
                <button type="button" onclick="send_data()">Predict Price</button>
            </div>
        </form>


        <div id="prediction" class="result" style=" display:flex">
            Prediction
        </div>
    </div>


    <script>

        function load_car_models(brand_id, model_id) {
            var brand = document.getElementById(brand_id)
            var car_model = document.getElementById(model_id)

            car_model.value = ""
            car_model.innerHTML = ""


            {% for brand in brands %}

            if (brand.value == "{{brand}}") {
                {% for model in car_models %}

                {% if brand in model %}

                var newoption = document.createElement('option')
                newoption.value = "{{model}}"

                newoption.innerHTML = "{{model}}"

                car_model.options.add(newoption);


                {% endif %}

                {% endfor %}
            }


            {% endfor %}
        }

        function formHandler(event) {
            event.preventDefault();
        }

        function send_data() {
            var xhr = new XMLHttpRequest();
            var fd = new FormData(document.querySelector('form'));

            xhr.open('POST', '/predict', true);

            document.getElementById('prediction').innerHTML = "Wait! Predicting Price ......";

            xhr.onreadystatechange = function () {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    if (xhr.status == 200) {
                        document.getElementById('prediction').innerHTML = "Prediction: Rs " + xhr.responseText;
                    } else {
                        document.getElementById('prediction').innerHTML = "Prediction failed. Please try again.";
                    }
                }
            };

            

            xhr.send(fd);

        }

    </script>
</body>

</html>